In [1]:
import numpy as np
import pandas as pd

In [28]:
class CheckData:    
    def isDFNumeric(df):
        non_numeric = df[~df.applymap(np.isreal).all(1)]
        return non_numeric.empty # Returns True if all data is numeric else False
    
    def isColumnNumeric(df,col):
        non_numeric = df[col][~df[col].apply(np.isreal)]
        return non_numeric.empty # Returns True if all data is numeric else False

In [29]:
df = pd.read_excel('TimeSeries Data from biogas plant.xlsx')
df.describe() # Quick short description of the data set
print(df.columns)

Index(['Date and time [Matlab_Time)', 'Biogas [m³/h] Cogeneration unit I',
       'Biogas [m³/h] Cogeneration unit II',
       'Methane content in the gas CH4 [%]', 'Total Solids TS-Wert [%]',
       'pH-Value'],
      dtype='object')

In [30]:
df.head(10)

,Date and time [Matlab_Time),Biogas [m³/h] Cogeneration unit I,Biogas [m³/h] Cogeneration unit II,Methane content in the gas CH4 [%],Total Solids TS-Wert [%],pH-Value
0,734124.999317,NaN,4790.000000,53.53009,7.442129,7.684027
1,734125.082650,sdfsf,4802.499855,53.53009,7.959729,7.706535
2,734125.165984,1183.17,4814.999711,53.53009,7.453511,7.691780
3,734125.249317,1143.75,4827.499566,53.53009,8.026361,7.679975
4,734125.332650,1104.34,4839.999421,53.53009,7.560807,7.702491
5,734125.415984,1064.92,4852.499277,53.53009,7.569912,7.697105
6,734125.499317,1025.5,4864.999132,53.53009,7.384810,7.696759
7,734125.582650,986.087,4877.498987,53.53009,7.572945,7.697858
8,734125.665984,946.67,4889.998843,53.53009,7.941835,7.699016
9,734125.749317,907.254,4902.498698,53.53009,8.099210,7.708971

In [31]:
CheckData.isDFNumeric(df)

False

In [32]:
col = 'Biogas [m³/h] Cogeneration unit I'
CheckData.isColumnNumeric(df,col)

False